* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
  }
 
  #logo {
    height: 60px;
    width: 60px;
    vertical-align: unset;
  }
 
 
  .background {
    height: auto;
    background-color: white;
  }
 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #F2A0BE;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
  }
 
  .nav_heading a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
  }

  .nav_heading {
    padding-left: 50px;
}

  .cake_heading {
    word-spacing: 10px;
  }
 
  .nav_right a {
    text-decoration: none;
    padding: 0 5px;
    color: whitesmoke;
  }
 
  .nav_right a:hover {
    color: #015C75;
  }

  .banner_image {
    height: 200px;
    width: 100%;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    padding: 45px;
    color: #015C75;
  }
  
  
  .heroImage {
    display: flex;
    width: 100%;
    border-bottom: #015C75 solid 0.5px;
    object-fit: cover;
    object-position: center;
    min-height: 250px;
  }
 
  h1 {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    text-align: center;
    color: #015C75;
    padding: 40px 0 40px 0;
  }
 
  h2 {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    text-align: center;
    color: #015C75;
    padding: 40px 0 40px 0;
  }
 
 
  form {
    padding: 15px;
  }

  .about_main {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#F3F1F4, whitesmoke, #C4EEf2);
}

.charity_main {
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#F3F1F4, whitesmoke, #C4EEf2);
}

.charity_main p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #015C75;
    font-size: 1.2rem;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    
}

.terms_main {
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#F3F1F4, whitesmoke, #C4EEf2);
}

.terms_main p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #015C75;
    font-size: 1rem;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
    
}
.about_main {
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#F3F1F4, whitesmoke, #C4EEf2);
}

.about_main p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #015C75;
    font-size: 1.2rem;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
 
  select {
    padding: 5px;
    border: 1px solid #015C75;
    border-radius: 5px;
    height: 40px;
    width: 175px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #015C75;
  }
 
  p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #015C75;
    font-size: 1.2rem;
    padding: 20px;
  }
 
  .page2Bottom {
    background-color: #F3F1F4;
  }
 
   
.main_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    bottom: 0;
    width: 100%;
    background-color: #E9D4E3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #015C75;
    padding: 20px 10px 20px 10px;
    text-align: center;
  }

  .main_footer p {
    font-size: 1rem;
  }
 
  .middle_footer a {
    color: #015C75;
    text-decoration: none;
  }  

  .middle_footer a:not(:last-child)::after {
    content: "|";
    padding-left: 0.3rem;
  }


  .middle_footer a:hover {
    color: whitesmoke;
  }

.social_footer {
    display: flex;
    justify-content: center;
    background-color: #E9D4E3;
    height: 100px;
    padding: 20px;

}

.social_footer a {
    margin: 5px;
    text-decoration: none!important;
}

.social-icon {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* media queries*/

@media screen and (max-width: 768px) {
  .nav_heading a{
    font-size: 2.8rem;
  }

  .nav_heading {
    padding-left: 10px;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.1rem !important;
  }

  .main_footer {
    flex-direction: column;
    height: 160px;
  }

}

@media screen and (max-width: 600px) {
.navbar {
  flex-direction: column;
  height: auto;
  text-align: center;
}

.nav_heading a {
  padding-left: 0;
}


}

@media screen and (max-width: 480px) {

.nav_heading a {
  font-size: 2.4rem;
}

.intro_text {
  margin-top: 20px;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem !important;
}

.terms_main p {
  font-size: 0.9rem !important;
}

.charity_main p {
  margin: 0 20px;
}

.main_footer {
  font-size: 0.9rem;
}

.main_footer p{
  font-size: 0.9rem !important;
}


}

}